<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project UAS PDW Kelompok 7</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/public/css/index.css">

</head>
<body>
<div class="navbar">
    <img src="/public/logo.jpg" alt="Gambar 2" class="mb-4 mx-auto" style="max-width: 40px;">
<div class="nav-links">
    <a href="/index.">Home</a>
    <a href="/contact">Contact</a>
    <a href="/todo">Todo</a>
</div>
<div class="icon-group">
    <a href="/login" class="sign-out-link">
        <i class="fas fa-sign-out-alt"></i> Login
    </a>
</div>

</div>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-start" style="padding: 115px 0 150px 35px; max-width: 600px;">
        <h1 class="mb-0" style="color: #0c0b0b; font-size: 48px; margin-bottom: 0;">
            Terbaik untuk Mu Terbaik untuk Kita Semua
        </h1>
        <p style="color: #070707; font-size: 16px; margin-top: 0;">
            Kami selalu hadir untuk masyarakat dengan layanan terpercaya dan kualitas terbaik untuk mendukung kesejahteraan dan kemajuan bersama.
        </p>
        <!-- Button Sign Up -->
        <button onclick="window.location.href='signup';" style="padding: 15px 35px; background-color: blue; color: white; border: none; border-radius: 5px; cursor: pointer; margin-top: 45px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            Sign Up
        </button>              
    </div>
    <div class="d-flex justify-content-end align-items-center" style="padding-right: 35px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <img src="/public/Doctor.jpg" alt="Dokter" style="max-height: 370px;">
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-center">
                <div class="footer-links">
                    <p class="copyright-text">@Copyright 2024 Hikmah</p>
                </div>
            </div>
            <div class="footer-right">
                <!-- Anda dapat menambahkan konten footer lainnya di sini -->
            </div>
        </div>
    </div>
</footer>
</body>
</html>